
<div class="titulo" >
	<h1 ng-model="user" class="tituloPrincipal visible fadeIn">Editar perfil</h1>
</div>
<section class="visible" style="background-color:white;height:calc(100vh); display: inherit;width:100%;" >


	<div ng-model="displayForm" id="cierpoInicio" class="" style="display: {{displayForm}};">





		<div class="cuerpo" style="height: 100%;" >
			<div class="seccionCuerpo" style="height: 100%;">
				<md-content md-theme="formulario" style="margin-bottom:20px;" ng-if="nombreUsuario.parentProperty=='administrador@empresa.com'">


					<div class="visible formularioRegistro" style="width: 50%;
					margin-left: 25%;">


					<div class="visible rowEspecial">

						<div class="visible col-sm-12 col-md-6 col-lg-6">
							<md-input-container  class="visible animate">
								<label>NIT</label>
								<input type="text" required name="nit" md-maxlength="100" ng-model="formulario.envio.nit"  ng-change='validar()'  >
								<div ng-messages="formularioForm.nit.$error">
									<div ng-message="required">Este campo es requerido.</div>
								</div>
							</md-input-container>
						</div>

						<div class="visible col-sm-12 col-md-6 col-lg-6">
							<md-input-container  class="visible animate">
								<label>Razón social</label>
								<input type="text" required name="razon" md-maxlength="100" ng-model="formulario.envio.razon" ng-change='validar()'>
								<div ng-messages="formularioForm.razon.$error">
									<div ng-message="required">Este campo es requerido.</div>
								</div>
							</md-input-container>
						</div>


					</div>

					<div class="visible rowEspecial">

						<div class="visible col-sm-12 col-md-6 col-lg-6">
							<md-input-container>
								<label>Dirección</label>
								<input type="text" required name="direccion" md-maxlength="100" ng-model="formulario.envio.direccion" ng-change='validar()'>
								<div ng-messages="formularioForm.direccion.$error">
									<div ng-message="required">Este campo es requerido.</div>
								</div>
							</md-input-container>
						</div>

						<div class="visible col-sm-12 col-md-6 col-lg-6">
							<md-input-container >
								<label>Telefono compañía</label>
								<input type="text" required name="telefono" md-maxlength="100"  ng-model="formulario.envio.telefono" ng-change='validar()'>
								<div ng-messages="formularioForm.telefono.$error">
									<div ng-message="required">Este campo es requerido.</div>
								</div>
							</md-input-container>
						</div>

					</div>

					<div class="visible rowEspecial">

						<div class="visible col-sm-12 col-md-6 col-lg-6">
							<md-input-container>
								<label>Extensión de informatica</label>
								<input type="text" required name="direccion" md-maxlength="100" ng-model="formulario.envio.informatica" ng-change='validar()'>
								<div ng-messages="formularioForm.inf.$error">
									<div ng-message="required">Este campo es requerido.</div>
								</div>
							</md-input-container>
						</div>

						<div class="visible col-sm-12 col-md-6 col-lg-6">
							<md-input-container >
								<label>Extensión Terorería/financiera</label>
								<input type="text" required name="telefono" md-maxlength="100"  ng-model="formulario.envio.telefono" ng-change='validar()'>
								<div ng-messages="formularioForm.telefono.$error">
									<div ng-message="required">Este campo es requerido.</div>
								</div>
							</md-input-container>
						</div>

					</div>

					<div class="visible rowEspecial">
						<div class="visible col-sm-12 col-md-12 col-lg-12">
							<md-input-container >
								<label>Nombre del administrador</label>
								<input type="text" required name="contacto" ng-pattern="/^[a-zA-Z\s]*$/" md-maxlength="100" ng-model="formulario.envio.contacto" ng-change='validar()'>
								<div ng-messages="formularioForm.contacto.$error">
									<div ng-message="required">Este campo es requerido.</div>
									<div ng-message="pattern">Este campo debe ser un nombre sin numeros ni caracteres especiales.</div>
								</div>
							</md-input-container>
						</div>
					</div>

					<div class="visible rowEspecial">
						<div class="visible col-sm-12 col-md-6 col-lg-6">
							<md-input-container>
								<label>Email administrador</label>
								<input type="email" required name="email" ng-model="formulario.envio.email" ng-pattern="/^.+@.+\..+$/" ng-change='validar()' >
								<div ng-messages="formularioForm.email.$error">
									<div ng-message="required">Este campo es requerido.</div>
									<div ng-message="pattern">Este campo debe ser un email.</div>
								</div>
							</md-input-container>
						</div>	
						<div class="visible col-sm-12 col-md-6 col-lg-6">
							<md-input-container >
								<label>Telefono del contácto</label>
								<input type="text" required name="telefonoContacto" md-maxlength="100" ng-model="formulario.envio.telefonoContacto" ng-change='validar()'>
								<div ng-messages="formularioForm.telefonoContacto.$error">
									<div ng-message="required">Este campo es requerido.</div>
								</div>
							</md-input-container>					
						</div>
					</div>





					<div class="visible rowEspecial">

						<div class="visible col-sm-4 col-md-12 col-lg-4">

							<md-input-container style="width:100%;">

								<md-select  name="sectorEnvio" ng-model="formulario.envio.sectorEnvio" ng-change="validar()" placeholder="País" required md-no-asterisk="false">

									<md-option ng-value="1" >Colombia</md-option>
								</md-select>

								<div ng-messages="formularioForm.sectorEnvio.$error">
									<div ng-message="required">Este campo es requerido.</div>
								</div>
							</md-input-container>      

						</div>

						<div class="visible col-sm-12 col-md-4 col-lg-4">

							<md-input-container style="width:100%;">

								<md-select  name="sectorEnvio" ng-model="formulario.envio.sectorEnvio" placeholder="Departamento" required md-no-asterisk="false">

									<md-option ng-value="1" >Valle del Cauca</md-option>
								</md-select>

								<div ng-messages="formularioForm.sectorEnvio.$error">
									<div ng-message="required">Este campo es requerido.</div>
								</div>
							</md-input-container>      

						</div>

						<div class="visible col-sm-12 col-md-4 col-lg-4">

							<md-input-container style="width:100%;">

								<md-select name="sectorEnvio" ng-model="formulario.envio.sectorEnvio"  placeholder="Ciudad" required md-no-asterisk="false">

									<md-option ng-value="1" >Cali</md-option>
								</md-select>

								<div ng-messages="formularioForm.sectorEnvio.$error">
									<div ng-message="required">Este campo es requerido.</div>
								</div>
							</md-input-container>      

						</div>



					</div>



					<div class="visible rowEspecial">
						<div class="visible col-sm-12 col-md-6 col-lg-6">	

						<label style="font-size: 10px; margin-top: 19px; color: #878787;">Selecciona una foto</label>
							<md-input-container style="margin-top: 0px;">
							
								<input type="file" required name="email" ng-model="formulario.envio.email" ng-pattern="/^.+@.+\..+$/" ng-change='validar()' >
								<div ng-messages="formularioForm.email.$error">
									<div ng-message="required">Este campo es requerido.</div>
									<div ng-message="pattern">Este campo debe ser un email.</div>
								</div>
							</md-input-container>
						</div>	

					</div>





				</form>


				<div style="">

					<md-button ng-click="registrarse()" class="visible md-raised md-primary primaryAmate"   style="    text-transform: initial;    margin-bottom: 20px; width: 80%; margin-left:10%; background-color: rgb(124, 154, 0);  " >Guardar cambios</md-button>

				</div>
			</div>




		</md-content>







		<md-content md-theme="formulario" style="margin-bottom:20px;" ng-if="nombreUsuario.parentProperty=='ejecutivo@empresa.com'">


			<div class="visible formularioRegistro" style="width: 50%;
			margin-left: 25%;">




			<div class="visible rowEspecial">


				<div class="visible col-sm-12 col-md-12 col-lg-12">
					<md-input-container >
						<label>Cedula</label>
						<input type="text" required name="telefono" md-maxlength="100"  ng-model="formulario.envio.ce" ng-change='validar()'>
						<div ng-messages="formularioForm.telefono.$error">
							<div ng-message="required">Este campo es requerido.</div>
						</div>
					</md-input-container>
				</div>

			</div>


			<div class="visible rowEspecial">
				<div class="visible col-sm-12 col-md-12 col-lg-12">
					<md-input-container >
						<label>Nombre </label>
						<input type="text" required name="contacto" ng-pattern="/^[a-zA-Z\s]*$/" md-maxlength="100" ng-model="formulario.envio.contacto" ng-change='validar()'>
						<div ng-messages="formularioForm.contacto.$error">
							<div ng-message="required">Este campo es requerido.</div>
							<div ng-message="pattern">Este campo debe ser un nombre sin numeros ni caracteres especiales.</div>
						</div>
					</md-input-container>
				</div>
			</div>

			<div class="visible rowEspecial">
				<div class="visible col-sm-12 col-md-6 col-lg-6">
					<md-input-container>
						<label>Email </label>
						<input type="email" required name="email" ng-model="formulario.envio.email" ng-pattern="/^.+@.+\..+$/" ng-change='validar()' >
						<div ng-messages="formularioForm.email.$error">
							<div ng-message="required">Este campo es requerido.</div>
							<div ng-message="pattern">Este campo debe ser un email.</div>
						</div>
					</md-input-container>
				</div>	
				<div class="visible col-sm-12 col-md-6 col-lg-6">
					<md-input-container >
						<label>Telefono del contácto</label>
						<input type="text" required name="telefonoContacto" md-maxlength="100" ng-model="formulario.envio.telefonoContacto" ng-change='validar()'>
						<div ng-messages="formularioForm.telefonoContacto.$error">
							<div ng-message="required">Este campo es requerido.</div>
						</div>
					</md-input-container>					
				</div>
			</div>


			<div class="visible rowEspecial">
				<div class="visible col-sm-12 col-md-6 col-lg-6">
					<md-input-container>
						<label>contraseña</label>
						<input type="email" required name="email" ng-model="formulario.envio.cqw" ng-pattern="/^.+@.+\..+$/" ng-change='validar()' >
						<div ng-messages="formularioForm.email.$error">
							<div ng-message="required">Este campo es requerido.</div>
							<div ng-message="pattern">Este campo debe ser un email.</div>
						</div>
					</md-input-container>
				</div>	
				<div class="visible col-sm-12 col-md-6 col-lg-6">
					<md-input-container >
						<label>Confirmar contraseña</label>
						<input type="text" required name="telefonoContacto" md-maxlength="100" ng-model="formulario.envio.cq" ng-change='validar()'>
						<div ng-messages="formularioForm.telefonoContacto.$error">
							<div ng-message="required">Este campo es requerido.</div>
						</div>
					</md-input-container>					
				</div>
			</div>







			<div class="visible rowEspecial">

				<div class="visible col-sm-4 col-md-12 col-lg-4">

					<md-input-container style="width:100%;">

						<md-select ng-disabled=true name="sectorEnvio" ng-model="formulario.envio.sectorEnvio" ng-change="validar()" placeholder="País" required md-no-asterisk="false">

							<md-option ng-value="1" >Colombia</md-option>
						</md-select>

						<div ng-messages="formularioForm.sectorEnvio.$error">
							<div ng-message="required">Este campo es requerido.</div>
						</div>
					</md-input-container>      

				</div>

				<div class="visible col-sm-12 col-md-4 col-lg-4">

					<md-input-container style="width:100%;">

						<md-select ng-disabled=true name="sectorEnvio" ng-model="formulario.envio.sectorEnvio" placeholder="Departamento" required md-no-asterisk="false">

							<md-option ng-value="1" >Valle del Cauca</md-option>
						</md-select>

						<div ng-messages="formularioForm.sectorEnvio.$error">
							<div ng-message="required">Este campo es requerido.</div>
						</div>
					</md-input-container>      

				</div>

				<div class="visible col-sm-12 col-md-4 col-lg-4">

					<md-input-container style="width:100%;">

						<md-select name="sectorEnvio" ng-model="formulario.envio.sectorEnvio" ng-disabled=true placeholder="Ciudad" required md-no-asterisk="false">

							<md-option ng-value="1" >Cali</md-option>
						</md-select>

						<div ng-messages="formularioForm.sectorEnvio.$error">
							<div ng-message="required">Este campo es requerido.</div>
						</div>
					</md-input-container>      

				</div>

			</div>




			<div class="visible rowEspecial">

				<md-input-container style="margin-top: 0px !important; margin-bottom: 0px !important;     padding-right: 8px;
				margin-top: 29px !important;">
				<div   ng-cloak>
					<div>

						<div layout="row">
							<md-input-container style="margin-top: 0px !important;">
								<label>Zonas de acción</label>
								<md-select  ng-value="1" ng-model="formulario.envio.zone"
								md-on-close="clearSearchTerm()"
								data-md-container-class="selectdemoSelectHeader"
								multiple>
								<md-select-header class="demo-select-header">
									<input ng-model="searchTerm"
									type="search"
									placeholder="Buscar una Zona..."
									class="demo-header-searchbox md-text">
								</md-select-header>
								<md-optgroup label="vegetables">
									<md-option ng-value="formulario.envio.zone" ng-repeat="zona in zonas |
									filter:searchTerm">{{zona}}</md-option>
								</md-optgroup>
							</md-select>
						</md-input-container>
					</div>
				</div>
			</div>

		</md-input-container>

	</div>

		




</form>


<div style="">

	<md-button ng-click="registrarse()" class="visible md-raised md-primary primaryAmate"   style="    text-transform: initial;    margin-bottom: 20px; width: 80%; margin-left:10%; background-color: rgb(124, 154, 0);  " >Guardar cambios</md-button>

</div>
</div>




</md-content>



</div>
</div>


</div>

</section>


