
<div class="titulo" >
	<h1 ng-model="user" class="tituloPrincipal senoPrimary visible fadeIn">Inicio</h1>
</div>

<section class="seccion" >

	<div ng-model="displayForm" id="cuerpoInicio" class="fullWidth">

		<div class="cuerpo"  >

			<div class="seccionCuerpo">

				<div class=" rowEspecial " >



					<div class="row" style="height: 400px;" ng-if="checkAccess('inicio','lead')==true" ng-init="callDashboardLead()">

						<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 md-whiteframe-2dp noVisible" id="chartContainer" style="padding: 20px; height: 100%;">

							<h1 style="width: 100%; text-align: center;">Movimientos de empresas</h1>

							<div style="height: calc(100% - 40px)" line-chart line-data='dataCharts' line-xkey='y' line-ykeys='["a", "b", "c"]' line-labels='["Habilitados", "Inhabilitados", "Por Activar"]' line-colors='["#a3c51a", "#31C0BE", "#c7254e"]'>
							</div>


						</div>

						<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 cardContainer" style="height: 100%;">

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 customCard noVisible" id="empresasPorActivar" style="height: 50%;" >

								<div style="background-color: rgba(247,70,74,1); height: 100%; width: 100%; padding:15px;" class="md-whiteframe-2dp" ng-click="goDash('empresa')">
									<i class="fa fa-industry iconSeccionMenu menuIco iconCard" aria-hidden="true"></i>
									<h3 style="color: white; text-align: center;">Empresas por activar</h3>
									<p class="dashboardCounter">{{porActivar}}</p>

								</div>

							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 customCard noVisible" id="cantidadProveedores" style=" height: 50%;">

								<div style="background-color: #46BFBD; height: 100%; width: 100%; padding:15px;" class="md-whiteframe-2dp" ng-click="goDash('proveedor')">
									<i class="fa fa-industry fa-handshake-o iconSeccionMenu menuIco iconCard" aria-hidden="true"></i>
									<h3 style="color: white; text-align: center;">Proveedores</h3>
									<p class="dashboardCounter">{{proveedores}}</p>

								</div>

							</div>

						</div>


						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 noVisible" id="terminos" style="padding: 20px 20px 20px 0px;">

							<div class=" md-whiteframe-2dp " style="padding:20px;" >
								<h1 style="width: 100%; text-align: center;">Historial de terminos y condiciones</h1>

								<div id="contenedorTabla" class="" >

									<md-toolbar class="md-hue-2" style="  background-color: transparent !important">
										<div class="md-toolbar-tools">

											<form name="filter.form" id="FORM_1">	
												<i class="fa fa-search middleIcon" style="min-width:0px !important;color:#03a9f4; position: absolute;padding-top: 0px !important;	" aria-hidden="true"></i> 
												<input style="padding-left: 24px;" ng-model="query3.filter" type="text" placeholder="Buscar en esta tabla..." id="INPUT_2" />
											</form>

										</div>
									</md-toolbar>
									<md-table-container style="" >
										<table md-table md-row-select multiple   md-progress="promise">
											<thead md-head md-order="query3.order" md-on-reorder="reordenar">
												<tr md-row>
													<th md-column md-order-by="nit" style="width:30% !important;"><span>Usuario</span></th>
													<th md-column md-order-by="email" style="width:30% !important;"><span>Acción</span></th>
													<th md-column md-order-by="businessName" style="width:30% !important;"><span>Fecha</span></th>
													<th md-column  style="width: 10% !important;"><span>Contenido</span></th>
													
												</tr>
											</thead>
											<tbody md-body>
												<tr md-row md-select="" md-select-id="companyEmail" md-auto-select class="animate"   ng-repeat="item in terminos | orderBy: query.order  | limitTo: query.limit : (query3.page -1) * query3.limit | filter: query.filter ">

													<td md-cell>{{item.nombre_usuario}}</td>
													<td md-cell>{{item.activity}}</td>
													<td md-cell>{{item.createdAt}}</td>
			
													<td md-cell>											

															<md-button  ng-click="mostrarTerminos($event, item.description)" class="" style="min-width:0px !important; text-transform: none;">
																<i class="fa fa-eye  middleIcon info" style="min-width:0px !important;" aria-hidden="true"></i> 

															</md-button>
															<md-tooltip md-z-index="30000000000" >Ver edición</md-tooltip>
												
													</td>
												</tr>
											</tbody>
										</table>
									</md-table-container>


									<!-- how to change the pagination label -->
									<md-table-pagination  md-limit="5" md-limit-options="[5, 10, 15]" md-page="1"  md-total="{{terminos.length}}" md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-on-paginate="logPagination3" md-page-select></md-table-pagination>


								</div>

							</div>

						</div>

					</div>





				</div>

			</div>




		</div>

	</div> 



</div>  

</section>
